---
permalink: /
title: "Trade Audit App for Social Media"
sitemap: true
---
<h1 class="display-6 fw-bold text-center">What is Trade Audit?</h1>

<div style="text-align:center;text-justify:inter-word;" class="lead mt-4 mb-2">
  <p>
    Social media <span class="fw-bold">"financial professionals"</span> and <span class="fw-bold">"macro analysts"</span> claim<br>
    to know what stocks to buy and how investments can make you money. But!
  </p>
  <div style="display:inline-block;text-align:left">
    <p class="mt-5 fw-bold" style="font-style: italic;">
      ❌ What is their full track record?
    </p>
    <p class="mt-2 fw-bold" style="font-style: italic;">
      ❌ Are they accurate?
    </p>
    <p class="mt-2 fw-bold" style="font-style: italic;">
      ❌ Do they admit when they are wrong?
    </p>
    <p class="mt-2 fw-bold" style="font-style: italic;">
      ❌ Is their knowledge even for real?
    </p>
  </div>
  <h2 class="mt-5 mb-5 fw-bold">
    ✅ Find out before you invest.
  </h2>
</div>

<div>
  {% assign integrations = site.navigation | where: "key", "integrations" | first %}
  {% for navitem in integrations.links %}
  <a
      class="nav-link {{ active }}"
      href="{{ navitem.url }}"
  >
    <img
        src="{{ navitem.img }}"
        alt="{{ navitem.label | strip_html }}"
    >
    {{ navitem.label }}
  </a>
  {% endfor %}
</div>

{% include influencerlink.html %}
