---
permalink: /
title: "Trade Audit App for Social Media"
---
<h1 class="display-6 fw-bold text-center">What is Trade Audit?</h1>

<div class="lead mt-4 mb-2 text-center" style="text-justify:inter-word;">
  <p>
    Social media <span class="fw-bold fst-italic">financial professionals</span> and
    <span class="fw-bold fst-italic">macro analysts</span> claim to know what stocks to buy.
  </p>
  <div style="display:inline-block;text-align:left">
    <p class="mt-3 fw-bold fst-italic">
      ❌ What is their full track record?
    </p>
    <p class="mt-2 fw-bold fst-italic">
      ❌ Are they accurate?
    </p>
    <p class="mt-2 fw-bold fst-italic">
      ❌ Do they admit when they are wrong?
    </p>
    <p class="mt-2 fw-bold fst-italic">
      ❌ Is their knowledge even for real?
    </p>
  </div>
  <h2 class="mt-5 mb-5 fw-bold">
    ✅ Find out before you invest.
  </h2>
</div>

<div class="mb-5 text-center">
  <h4 class="mb-3">Import Recommendations Made on Social Media,<br>and Track Trade Performance.</h4>
  {% assign integrations = site.navigation | where: "key", "integrations" | first %}
  {% for navitem in integrations.links %}
  <a
    class="btn btn-secondary integration_logo"
    href="{{ navitem.url }}"
  >{{ navitem.label }}</a>
  {% endfor %}
</div>

{% include influencerlink.html %}
