{% capture active_youtube %}{% if include.selected == "youtube" %}active{% endif %}{% endcapture %}
{% capture active_x %}{% if include.selected == "x" %}active{% endif %}{% endcapture %}
{% capture active_url %}{% if include.selected == "url" %}active{% endif %}{% endcapture %}

<div class="mt-5 mb-5 text-center">
    <h2 class="display-5 fw-bold mb-4">Social Media Integrations</h2>

    <style>
        .integrationtable {
            border-collapse: separate;
            display: inline-block;
        }
        .integrationtable td {
            width: 240px;
            border-radius: 25px;
            border: 2px solid #282739;
            vertical-align: top;
            font-size: larger;
        }
        .integrationtable td.active {
            background: #aaaaaa;
            color: white;
            cursor: pointer;
        }
        .integrationtable a {
            color: inherit;
            text-decoration: inherit;
        }
        .integrationtable ul {
            margin: 0px 10px 30px 10px;
        }
        .integrationtable div {
            height: 160px;
            margin-bottom: 20px;
        }
        .integrationtable h3 {
            line-height: 60px;
        }
        .integrationtable td:not(.active):hover {
            background: #ed2c8a;
            cursor: pointer;
        }
    </style>
    <table class="integrationtable">
        <tr>
            <td class="{{ active_youtube }}">
                {% if active_youtube == "" %}<a href="/youtube">{% endif %}
                    <h3>YouTube</h3>
                    <div><img src="/assets/influencer-youtube.svg" style="width:160px;" alt="YouTube"></div>
                    <ul>
                        <li>Social Metrics</li>
                        <li>Video Transcripts</li>
                        <li>Integrated Search</li>
                    </ul>
                {% if active_youtube == "" %}</a>{% endif %}
            </td>
            <td class="{{ active_x }}">
                {% if active_x == "" %}<a href="/x">{% endif %}
                    <h3>Twitter</h3>
                    <div><img src="/assets/influencer-x.svg" style="width:120px;margin-bottom:20px;margin-left:10px;margin-top:24px;" alt="X"></div>
                    <ul>
                        <li>Social Metrics</li>
                        <li>$CashTag Import</li>
                        <li>Timelines</li>
                    </ul>
                {% if active_x == "" %}</a>{% endif %}
            </td>
            <td class="{{ active_url }}">
                {% if active_url == "" %}<a href="/urls">{% endif %}
                    <h3>Any Webpage</h3>
                    <div><img src="/assets/influencer-url.svg" style="width:180px;margin-top:-10px;" alt="URLs"></div>
                    <ul>
                        <li>Open Graph Import</li>
                    </ul>
                {% if active_url == "" %}</a>{% endif %}
            </td>
        </tr>
    </table>
</div>