---
---

@charset "utf-8";

:root {
  --bs-primary: rgb(104, 66, 207);
  --bs-nav-link-padding-x: 10px;
  --bs-sidebar-active-color: white;
  --bs-sidebar-header-font-weight: bold;
  --bs-sidebar-header-font-size: larger;
}
.nav-link {
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid #6c757d;
  padding-left: 10px;
}
.nav-link:hover, .btn:hover {
  background-color: #ed2c8a;
  color: white;
}

.sidebar-brand, .sidebar-brand:hover, navbar-brand {
  color: white;
  font-weight: bolder;
}
.sidebar-nav .nav-link.active {
  background-color: rgb(104, 66, 207);
  color: white;
}
.sidebar-header {
  font-weight: bold;
}
.bg-light {
  background-color: #282739 !important;
}
.sidebar-nav .nav-link img {
  width: 20px;
  margin-right: 10px;
}

.facts > section {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 16px;
    margin-bottom: 10px;
    background-color: lightgrey;
}