<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://tradeaudit.app">
  <meta property="og:image" content="https://tradeaudit.app/assets/images/opengraph.png">
  <meta property="og:image:width" content="225">
  <meta property="og:image:height" content="225">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:url" content="https://tradeaudit.app">
  <meta name="twitter:image" content="https://tradeaudit.app/assets/images/opengraph.png">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="https://tradeaudit.app/assets/images/favicon.ico">
  <link href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/halfmoon.min.css" rel="stylesheet"
        integrity="sha256-SsJizWSIG9JT9Qxbiy8xnYJfjCAkhEQ0hihxRn7jt2M=" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
          integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
          integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.analytics.google.tracking_id }}');
  </script>
</head>
<body class2="d-flex flex-column h-100" class="ps-md-sbwidth bg-light">
<nav id="sidebar" class="sidebar offcanvas-start offcanvas-md bg-light" tabindex="-1">
  <div class="offcanvas-header border-bottom border-secondary border-opacity-25"  data-bs-dismiss="offcanvas" aria-label="Close"
       data-bs-target="#sidebar" style="cursor:pointer;">
    <div class2="nav nav-item nav-link text-muted me-auto" class="sidebar-brand" style2="padding-left:0;">
      <img
          src="https://tradeaudit.app/assets/images/favicon.png"
          style="border-radius:20%;"
          width="60"
          height="60"
          title="Trade Audit App"
          alt="Trade Audit App"
      >
      <div
          style="display: inline-block;vertical-align: middle;line-height: 14pt;margin-left:4px;"
      >Trade Audit App<br>
        <span
            style="font-size: small;margin-top: 0;padding-left:2px;"
        >For Android</span>
      </div>
    </div>
    <button type="button" class="btn-close d-md-none"></button>
  </div>
  <div class="offcanvas-body">
    <div class="card" style="padding:0;border:none;">
      {% for nav in site.navigation %}
      <div class="card-body">
        <ul class="sidebar-nav nav-pills">
          <li class="mt-3">
            <h6 class="sidebar-header">{{ nav.label }}</h6>
          </li>
          <li>
            <hr class="sidebar-divider">
          </li>
          {% for navitem in nav.links %}
            {% if navitem.url == page.permalink %}
              {% assign active = "active" %}
            {% else %}
              {% assign active = "" %}
            {% endif %}
            <li class="nav-item">
              <a
                  class="nav-link {{ active }}"
                  href="{{ navitem.url }}"
              >
                {% if navitem.img %}
                <img
                  src="{{ navitem.img }}"
                  alt="{{ navitem.label | strip_html }}"
                >
                {% endif %}
                {{ navitem.label }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
    <a href="https://play.google.com/store/apps/details?id=app.tradeaudit"
       target="_blank"
       style="margin-left: auto;margin-right: auto;margin-top: auto;"
    ><img alt="Get it on Google Play" height="60"
          src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"></a>
  </div>
</nav>
<nav class="navbar navbar-expand-md docs-navbar sticky-top bg-light d-lg-none" style="cursor: context-menu;">
  <div class="container-md px-3 px-sm-4 px-xl-5 py-1 justify-content-start" data-bs-toggle="offcanvas"
       data-bs-target="#sidebar" aria-label="Toggle sidebar">
    <div class="navbar-brand d-flex align-items-center ms-md-0" style="color:white;font-weight:bolder;">
      <img src="https://tradeaudit.app/assets/images/favicon.png"
           style="border-radius:20%;margin-right: 10px !important;"
           width="32" height="32"
           title="Trade Audit App"
           alt="Trade Audit App"
           class="d-block flex-shrink-0 me-1">
      Trade Audit App
    </div>
  </div>
</nav>

<main class="bg-body" style="flex-grow:1;display:flex;flex-direction:column;">
  <div class="container-xl g-5 my-5" style="flex-grow:1;display:flex;flex-direction:column;">

    {{ content }}

  </div>
</main>

<footer class="border-top footer mt-auto" style="text-align:center;color:white;">
  <div class="container-xl d-flex flex-wrap me-auto" style="justify-content: center;">
    <div style="margin-right: auto;padding-top: 10pt;font-size:16pt;" class="me-auto">
      <!--<img src="https://tradeaudit.app/assets/images/favicon.ico" title="{{ site.title }}" alt="{{ site.title }}" style="height: 32px;margin-right: 6px;">-->
      See how your favourite social media influencers rank on real world stock picking performance.
    </div>

    <a href="https://play.google.com/store/apps/details?id=app.tradeaudit"
       target="_blank" class="nav text-end"
    ><img alt="Get it on Google Play"
          src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" height="60"></a>
    <!--<ul class="nav text-end">
      {% if site.footer.links %}
      {% for link in site.footer.links %}
      {% if link.label and link.url %}
      <li class="nav-item" style="line-height:48px;"><a href="{{ link.url }}" rel="nofollow noopener noreferrer"
                                                        class="nav-link px-2 text-muted"><i
          class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
      {% endif %}
      {% endfor %}
      {% endif %}
    </ul>-->
  </div>
</footer>
</body>
</html>
