<!DOCTYPE html>
<html class="h-100" lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="https://tradeaudit.app/assets/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://tradeaudit.app">
    <meta property="og:image" content="https://tradeaudit.app/assets/images/opengraph.png">
    <meta property="og:image:width" content="225">
    <meta property="og:image:height" content="225">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:url" content="https://tradeaudit.app">
    <meta name="twitter:image" content="https://tradeaudit.app/assets/images/opengraph.png">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.analytics.google.tracking_id }}');
    </script>
    <style>
        .bg-body { background-color: #f9f7ed !important; }
        a { color: #1d9bf0; }
        a:hover { color: #ed2c8a; }   
        .btn-primary { --bs-btn-bg: #282739; --bs-btn-border-color: #6c757d; --bs-btn-hover-bg: #ed2c8a; --bs-btn-hover-border-color: #6c757d; }
        .bg-light { background-color: #282739 !important; }
        .link-dark { color: #fff !important; }
        .link-dark:hover { color: #ed2c8a !important; }
        .text-muted { color: #c7c6cb !important; }
        a.text-muted:hover { color: #ed2c8a !important; }
        .nav { --bs-nav-link-padding-y: 0.1rem; }
    </style>
</head>
<body class="d-flex flex-column h-100 bg-light" style="font-family: 'Gill Sans', 'Helvetica', sans-serif;">
  <header>
    <nav class="py-2 border-bottom">
        <div class="container-xl d-flex flex-wrap">
            <a href="/" class="me-auto fs-1 fw-bold text-decoration-none link-dark">
                <img src="https://tradeaudit.app/assets/images/favicon.png" style="border-radius:20%;" 
                     width="60" height="60" title="Trade Audit Mobile App" alt="Trade Audit Mobile App">
                <span style="font-size: 36pt !important;vertical-align: middle;">Trade Audit</span>
            </a>
            <a href="https://play.google.com/store/apps/details?id=app.tradeaudit" target="_blank"><img alt="Get it on Google Play" height="60" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"></a>
        </div>
    </nav>
  </header>
  
  <main class="bg-body" style="flex-grow:1;display:flex;flex-direction:column;">  
    <div class="container-xl g-5 my-5" style="flex-grow:1;display:flex;flex-direction:column;">
    
        {{ content }}

    </div>
  </main>

  <footer class="border-top footer mt-auto" style="font-size:16pt">
    <div class="container-xl d-flex flex-wrap me-auto">
        <a href="/" class="nav nav-item nav-link text-muted me-auto" style="padding-left:0;">
            <img src="https://tradeaudit.app/assets/images/favicon.ico" width="32" height="32" title="Trade Audit Mobile App" alt="Trade Audit Mobile App">
        </a>

        <ul class="nav text-end">
            {% if site.footer.links %}
            {% for link in site.footer.links %}
            {% if link.label and link.url %}
            <li class="nav-item"><a href="{{ link.url }}" rel="nofollow noopener noreferrer" class="nav-link px-2 text-muted"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
      </div>
  </footer>
</body>
</html>
