<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="h-100" style="font-size: 20px" lang="en">
<head>
    <meta charset="UTF-8">
    <title>TradeAudit Mobile App for Fintwit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"-->
<!--            crossorigin="anonymous"></script>-->
</head>
<body class="d-flex flex-column h-100">
  <header>
    <nav class="py-2 bg-light border-bottom">
        <div class="container-xl d-flex flex-wrap">
            <img src="https://tradeaudit.app/assets/query_stats_FILL0_wght400_GRAD0_opsz48.svg" class="align-bottom" width="60" height="60"/>
            <a href="/" class="me-auto fs-1 fw-bold text-decoration-none link-dark">Trade Audit</a>
            <img alt="Get it on Google Play" height="60px" id="logo-img" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png">
        </div>
    </nav>
  </header>
  
  <main class="container-xl g-5 my-5 flex-shrink-0">
    {{ content }}
  </main>
  
  <footer class="py-2 bg-light border-top footer mt-auto">
    <div class="container-xl d-flex flex-wrap me-auto">
      <a href="/" class="nav nav-item nav-link text-muted me-auto">
        © 2022 Trade Audit
      </a>

<!--    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">-->
<!--      Hi!-->
<!--    </a>-->

    <ul class="nav text-end"/>
      <li class="nav-item"><a href="/terms-of-use" class="nav-link px-2 text-muted">Terms of Use</a></li>
      <li class="nav-item"><a href="/privacy-policy" class="nav-link px-2 text-muted">Privacy Policy</a></li>
      <li class="nav-item"><a href="/cookie-policy" class="nav-link px-2 text-muted">Cookie Policy</a></li>
    </ul>
  </div>
<!--    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">-->
<!--      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>-->
<!--      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>-->
<!--      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>-->
<!--    </ul>-->
  </footer>
</body>
</html>
